@import url('https://fonts.googleapis.com/css?family=Cantarell');
body{
    background: #23272A;
}

div.a{
    text-align: center;
    padding: 10em;
    margin:auto;
 
}
p1{
    font-family: 'Cantarell', sans-serif;   
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    line-height: 200%;
}